<!DOCTYPE html>
<html>
<head>
  <title>Details</title>
</head>
<body>
  <h2>{{ battle }}</h2>
  <p>Start time: {{ battle.start_time }}</p>
  <p>End time: {{ battle.end_time }}</p>

  {% if battle_hashtags %}

    <p>Current winner (per specification): {{ winner }}</p>
    <p>Winner by typos/words ratio: {{ winner_by_ratio }}</p>
    <h4>All hashtags: </h4>

    {% for battle_hashtag in battle_hashtags %}
      <p>{{ battle_hashtag.hashtag.value }} has {{ battle_hashtag.words }} words and {{ battle_hashtag.typos }} typos</p>
    {% endfor %}

  {% else %}

    This battle has no hashtags

  {% endif %}

  <p><a href="{% url 'api_detail' battle.id %}">JSON response</a></p>
  <p><a href="{% url 'admin:battle_battle_change' battle.id %}">Edit battle</a></p>
</body>
</html>
